{% load static %}
<!DOCTYPE html>
<html lang="en">
<!-- hi this is a comment -->
<head>
    <meta charset="UTF-8">
    <title>Movie IMDB</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <script src="{% static 'imdb.js' %}"></script>
</head>
<body>
    {% block content %}
    {% endblock %}
    <br>

    {% if user.is_authenticated %}
            <button class="button1" type="button" disabled>Logged in as {{ user }} </button>
            <br>
            <form class="logout-link" action="{% url 'accounts:logout' %}" method="post">
                {% csrf_token %}
                <button class="button" type="submit">Logout</button>
            </form>
            <!--<a href="{% url 'Movies:create' %}" class="highlight">Add your film review</a>-->
         {% else %}
            <button class="button"><a href="{% url 'accounts:login' %}">Login</a></button>
            <button class="button"><a href="{% url 'accounts:signup' %}">Signup</a></button>
        {% endif %}

    </div>
</body>
</html>