{% extends 'Movies\base_layout.html' %}
{% block content %}

<div class="container">

    {% for movie in movies %}

    <div class="item">
        <a href="{% url 'Movies:description' slug=movie.slug %}"><img src="{{ movie.poster.url }}"
                                                                                    width="150px"
                                                                                    height="auto"></a>
        <h3 class="movie_title">{{movie.title}}</h3>
    </div>
    {% endfor %}
</div>
{% endblock %}

